import networkx as nx
import pandas as pd
import numpy as np

import urllib
import json
import operator

import matplotlib as plot
import matplotlib.pyplot as plt
import seaborn as sn
import altair as alt

from sklearn.metrics.pairwise import cosine_similarity
